# Віртуальне середовище
.venv/
venv/

# Кеш та скомпільовані файли
__pycache__/
*.pyc
*.pyo
*.pyd

# Великі масиви даних та збережені ваги нейромереж
data/
saved_models/
*.csv
*.pth

# Звіти та тимчасові логи
reports/
logs/
*.log

# Налаштування редакторів коду та системні файли
.vscode/
.idea/
Thumbs.db